.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.why-urban-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 120px;
  background-color: #fff;
}

.left-section {
  width: 50%;
  text-align: left;
}

.left-section h2 {
  font-size: 24px;
  font-weight: bold;
}

.left-section p {
  margin: 0
}

.feature {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.right-section {
  width: 40%;
  padding: 30px 30px;
  background-color: #f7faff;
  border-radius: 8px;
  text-align: left;
}

.quality-icon {
  font-size: 60px;
  color: #3498db;
}

.right-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.right-section p {
  color: #666;
}